<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Pure CSS - RetroWave</title>
    <link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">
    <link rel="stylesheet" href="{% static 'portafolio/css/portfolio_arte.css' %}">

  </head>
    
  <body>
  <div class='app'>
  <div class='sky'>
    <div class='background-left'></div>
    <div class='background-right'></div>
    <div class='sun'></div>
    <div class='buildings'>
      <div class='building building-21'>
        <div class='top'></div>
      </div>
      <div class='building building-22'>
        <div class='top'></div>
      </div>
      <div class='building building-23'>
        <div class='top'></div>
      </div>
      <div class='building building-24'>
        <div class='top'></div>
      </div>
      <div class='building building-25'>
        <div class='top'></div>
      </div>
      <div class='building building-11'>
        <div class='top'></div>
      </div>
      <div class='building building-12'>
        <div class='top'></div>
      </div>
      <div class='building building-13'>
        <div class='top'></div>
      </div>
      <div class='building building-14'>
        <div class='top'></div>
      </div>
      <div class='building building-15'>
        <div class='top'></div>
      </div>
      <div class='building building-1'>
        <div class='top'></div>
      </div>
      <div class='building building-2'>
        <div class='top'></div>
      </div>
      <div class='building building-3'>
        <div class='top'></div>
      </div>
      <div class='building building-4'>
        <div class='top'></div>
      </div>
      <div class='building building-5'>
        <div class='top'></div>
      </div>
      <div class='building building-6'>
        <div class='top'></div>
      </div>
      <div class='building building-7'>
        <div class='top'></div>
      </div>
      <div class='building building-8'>
        <div class='top'></div>
      </div>
      <div class='building building-9'>
        <div class='top'></div>
      </div>
      <div class='building building-10'>
        <div class='top'></div>
      </div>
    </div>
  </div>
  <div class='ground'>
    <div class='road left'></div>
    <div class='road left bis'></div>
    <div class='road right'></div>
    <div class='road right bis'></div>
    <div class='road center road-0'></div>
    <div class='road center road-1'></div>
    <div class='road center road-2'></div>
    <div class='road center road-3'></div>
    <div class='road center road-4'></div>
    <div class='road center road-5'></div>
    <div class='wave vertical left wave-0'></div>
    <div class='wave vertical left wave-1'></div>
    <div class='wave vertical left wave-2'></div>
    <div class='wave vertical left wave-3'></div>
    <div class='wave vertical left wave-4'></div>
    <div class='wave vertical left wave-5'></div>
    <div class='wave vertical right wave-0'></div>
    <div class='wave vertical right wave-1'></div>
    <div class='wave vertical right wave-2'></div>
    <div class='wave vertical right wave-3'></div>
    <div class='wave vertical right wave-4'></div>
    <div class='wave vertical right wave-5'></div>
    <div class='wave horizontal left wave-10'></div>
    <div class='wave horizontal left wave-11'></div>
    <div class='wave horizontal left wave-12'></div>
    <div class='wave horizontal left wave-13'></div>
    <div class='wave horizontal left wave-14'></div>
    <div class='wave horizontal left wave-15'></div>
    <div class='wave horizontal left wave-16'></div>
    <div class='wave horizontal left wave-17'></div>
    <div class='wave horizontal left wave-18'></div>
    <div class='wave horizontal left wave-19'></div>
    <div class='wave horizontal right wave-10'></div>
    <div class='wave horizontal right wave-11'></div>
    <div class='wave horizontal right wave-12'></div>
    <div class='wave horizontal right wave-13'></div>
    <div class='wave horizontal right wave-14'></div>
    <div class='wave horizontal right wave-15'></div>
    <div class='wave horizontal right wave-16'></div>
    <div class='wave horizontal right wave-17'></div>
    <div class='wave horizontal right wave-18'></div>
    <div class='wave horizontal right wave-19'></div>
  </div>
</div>
<div class='author-container'>
  <div class='picture'></div>
  <div class='title'>
    @SylvainGarnot
  </div>
</div>
    
  </body>
  
</html>
