<div class="userIconContainer">
    <button class="userButton" (click)="toggleDropdown()">
        @if (user()) {
        <div class="avatarSmall">{{ user()!.username[0].toUpperCase() }}</div>
        } @else {
        <div class="avatarPlaceholder">👤</div>
        }
    </button>

    @if (isOpen()) {
    <div class="dropdown">
        <div class="menu">
            @if (user()) {
            <div class="userInfo">
                <span class="menuTitle">Sesión iniciada como</span>
                <p class="userName">{{ user()!.username }}</p>
            </div>
            <button (click)="handleLogoutClick()" class="menuItem">
                <span class="icon">🚪</span> Cerrar Sesión
            </button>
            } @else {
            <div class="userInfo">
                <p class="userName">Cuenta</p>
            </div>
            <button (click)="navigateToLogin()" class="menuItem">
                <span class="icon">🔑</span> Iniciar Sesión
            </button>
            <button (click)="navigateToRegister()" class="menuItem">
                <span class="icon">📝</span> Registrarse
            </button>
            }
        </div>
    </div>
    }
</div>