Django~=4.1.2
djangorestframework
djangorestframework-simplejwt
django-filter
django-axes
django-cors-headers

rarfile
vt
Pillow

# Django environment variables
# https://django-environ.readthedocs.io/
django-environ

#Postgres Requirement
# sudo apt install python3-dev libpq-dev
#development
psycopg2-binary
#production ready
# psycopg2
python-dotenv

# Google OAuth 2.0
google-auth>=2.0.0
google-auth-httplib2>=0.1.0
requests>=2.28.0
